body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
table {
 border-collapse: collapse;
 
}
td {
    border-bottom: 1px solid lightgray;
}
th {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.row-3 {
    background-color: lightyellow;
}
.row-5 {
    background-color: lightyellow;
}
.col1 {
    background-color: darkcyan;
    color: white;
    text-align: left;
}
.col2 {
    background-color: lightblue;
    color: white;
    text-align: center;
}
.col3 {
    background-color: darkcyan;
    color: white;
    text-align: right;
}
.column-2 {
    text-align: center;
}
.column-3 {
    text-align: right;
}